<div class="card" style="width: 36rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @post.title %></h5>
    <p class="card-text"><%= @post.post %></p>
  </div>
</div>

<%= render '/replies/form' %>
